body {
  text-align: center;
  color: #333;
  font-family: "Century Gothic";
}

.square {
  float: left;
  background: #f77;
}

#container {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 10px #f77;
}
